<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <script>
        $(document).ready(() => {
            $("div.content div#home-sidebar div").click((e) => {
                let past = "div.content div."+$("div.results:visible").attr("type")
                $("div.content div.results:visible").fadeOut(1, () => {
                    $(past).removeClass("set")
                    $("div.content div."+e.target.classList[1]).addClass("set")
                    $("div.content div#"+e.target.textContent).fadeIn(1)
                })
            })
        })
    </script>

<body>
    {% include header.html %}
    <div class="content">
        <div class="side-bar" id="home-sidebar">
            <div class="side-options Me set">Me</div>
            <div class="side-options Interests">Interests</div>
            <div class="side-options School">School</div>
        </div>
        <div class="results" id="Me" type="Me">
            <div class="profile">
                <img src="https://avatars0.githubusercontent.com/u/13604256?v=3&s=500" alt="Profile Picture" class="profile_pic">
                <br class="breaker" />
                <br class="breaker" />
                <br class="breaker" />

                Suyog Soti
                <div style="font-size: 30px;">
                    Student at the University of Colorado at Boulder
                </div>
                <div class="icons">
                    <a href="https://facebook.com/suyogsoti">
                        <img src="https://i.imgur.com/VwcIIKr.png" alt="Find me on Facebook">
                    </a>
                    <a href="https://linkedin.com/in/suyogsoti">
                        <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="Find me on LinkedIn">
                    </a>
                    <a href="https://twitter.com/suyogsoti">
                        <img src="https://about.twitter.com/content/dam/about-twitter/company/brand-resources/en_us/02_TwitterLogo_ImagePromo.jpg.img.fullhd.medium.jpg" alt="Find me on Twitter">
                    </a>
                    <a href="https://github.com/suyogsoti">
                        <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="Find me on Github">
                    </a>
                </div>
            </div>
        </div>
        <div class="results" id="Interests" type="Interests">
            <ul style="padding: 40px; font-size: 20px;">
                <li>Artificial Intelligence</li>
                <ul>
                    <li>One day, I will help make it a reality!</li>
                    <li>I am specially interested in finding a way to make machines understand context. The machine should understand that it is making tea when it makes tea. It should know what tea is, and look at it from the same perspective that human being do.</li>
                </ul>
                <li>Virtual Reality</li>
                <ul>
                    <li>Interested in a cost effective immersive experience</li>
                </ul>
                <li>The Technology Gap</li>
                <ul>
                    <li>There must be more diversity in Stem fields in general in the American Workforce.</li>
                    <li>I was born in Nepal, and I have seen some of the Technology gaps in the world. I want to help shorten that because I belive technology is knowledge.</li>
                </ul>
                <li>Tech Policy</li>
                <ul>
                    <li>Are some tech companies too big? - Are they basically monopolies?</li>
                    <li>Are the size and actions of tech companies inhibiting innovation and competition?</li>
                </ul>
            </ul>
        </div>
        <div class="results" id="School" type="School">
            <ul style="padding: 40px; font-size: 20px;">
                <li>University: <span class="ans">University of Colorado at Boulder</span></li>
                <li>Major: <span class="ans">Applied Math and Computer Science</span></li>
                <li>Expected Graduation Date: <span class="ans">2020</span></li>
            </ul>
            <img class="optional" src="https://i.ytimg.com/vi/AHNAgyyXiOI/maxresdefault.jpg" alt="Colorado">
        </div>
    </div>
    {% include footer.html %}

</body>
</html>
